.Receive-graph {
    color: red;
}

.graph-div {
    width: 400px;
    border: solid 1px white;
    border-radius: 3px;
    padding: 50px 0;
}

.piecharts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}