.graph-div {
    width: 400px;
    border: solid 1px white;
    border-radius: 4px;
    padding: 50px 0;
    margin-bottom: 2%;
}

.piecharts{
    max-height: 800px;
    overflow:visible;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.userInfo{
    text-align: left;
    margin: 1% 0% 1% 3.2%;
    padding: 8px 10px;
    border: 1px solid white;
    border-radius: 4px;
    width: 20%;
    overflow: auto;
}

.userInfo * {
    display: inline;
}


.both-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.last-five {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.last5container {
    border: 1px solid white;
    border-radius: 4px;
    height: 20%;
    margin: 1% 0% 1% 3.2%;
    padding: 8px 0 10px 3px;
    width: 69%;
    text-align: center;}

#logout-btn{
    width: 10px;
}

#logout-btn {
    width: fit-content;
    margin: 0% 50%;
    background-color: rgba(54, 162, 235, 0.4);
    border-radius: 4px;
    border: none;
    padding: 10px;
  }